<app-navbar></app-navbar>
<div class="jumbotron youtube text-center text-white">
  <div class="container">
    <h1 class="display-3">{{title}}</h1>
<p class="lead">{{desc}}</p>
  </div>
</div>


<!--Card-->
<div class="card text-center playing-with-reds text-white">

    <!--Card image-->
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title">{{cardtitle}}</h4>
        <!--Text-->
        <p class="card-text">{{cardtext}}</p>
        <a href="#" class="btn btn-primary">{{cardbtn}}</a>
    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->

